@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
/*CSS variables*/
:root{
    background: #F7EFDF;
}

body{
    font-family:'Zen Antique Soft', 
    serif;
}
.fixed-icons{
    width: 4rem;
    position: fixed;
    bottom: 0;
    right: 0;
}
#float-icons{
    background: transparent;
    padding-left: 0;
    padding-bottom: 0;
   

}
.tab{
    overflow:auto;
    background-color: rgb(182, 88, 158);
    transition: 2s;   
}
.tab button{
    background-color: inherit;
  float: left;
  border:#F7EFDF;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  
}
.tab button:hover{
    background-color: rgb(231, 154, 212);
  
}
.tab button.active{
    background-color:rgb(231, 154, 154) ;
}
.tabcontents{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;  
}


.container{
    padding:2rem 6rem;
}

.container-centre{
max-width: 600px;
margin: auto;
}

.links{
padding: 0.5rem 1rem;
}
.primary-links{
border: 1px solid var(--primary-color);
border-radius: 0.5rem;
background-color: var(--primary-color);
color: var(--white);
text-decoration: none;
}
.secondary-links{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    text-decoration: none;
}

/*lists*/
.list-non-bullet{
    list-style: none;  
}

.list-item-inline{
    display: inline;
    padding: 0.5rem 1.5rem;
}
#fluid-container{       /*id*/
    background-color: #E6E0EC;
}
.hero{
    /*padding: 1rem;*/
    position: relative;
}
.hero-img{
    max-width: 50%;
    max-height: 100px;
    display: block;
    
}
img{
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}

.hero-heading{
    text-align: center;
    padding-top: 1rem;
}
.hero-colored{
    color: blue;
}

/*section*/
.section{
    background-color: #ffffff;
}
.section h1{
    text-align: center;
}
.section p{
    text-align: justify;
}
.section-ow{
    padding:1 rem;
background-color:#f8f8ff;
}
.main-heading{
    color:blue;
}

.sec-heading{
    font-style:italic;
    color: rgb(182, 88, 158);
}

/*footer*/
.footer{
background-color:blueviolet;
padding: 2rem 3rem;
border-radius: 1rem;
}
.footer-heading{
    text-align: center;
color: #E6E0EC;
font-weight:bolder;
}
.footer .links{
    color: rgb(247, 246, 252);
    text-align: center;
    text-decoration: none;
}
.footer .social{
    text-align: center;
}
.social :hover {
    color: rgb(241, 245, 4);
} 